{{!-- View all posts--}}

{{#each posts as | post|}}
<div class="card" style="width: 50rem;">
  <div class="card-body">
    <h2 class="card-title">Title: {{post.title}}</h2>
    <h5 class="card-user">Posted by: {{post.user.username}}</h5>
    <h5 class="card-dateStamp"> Posted on: {{post.createdAt}}</h5>
    <h3 class="card-text">Post: {{post.post}}</h3>
    <a href="/comment/{{post.id}}" class="btn btn-primary" data-postId="{{post.id}}">Click to Comment</a>
  </div>
</div>
{{/each}}